@page "/"
@inject AuthenticationStateProvider AuthState

<AuthorizeView>
  <Authorized>
    <h1>Hello, @Username!</h1>

    <p>Welcome to your new app.</p>
  </Authorized>
  <NotAuthorized>
    <p>Not Authorized</p>
  </NotAuthorized>
</AuthorizeView>

@code
{
  private string Username { get; set; } = "";

  protected override async Task OnInitializedAsync()
  {
    var state = await AuthState.GetAuthenticationStateAsync();

    Username =
      state.User.Claims
        .Where(c => c.Type.Equals("name"))
        .Select(c => c.Value)
        .FirstOrDefault() ?? string.Empty;

    await base.OnInitializedAsync();
  }
}